<mat-card class="card" [style.background-color]="player.winner ? '#01FF70' : '#fff'">
  <mat-card-header>
    <div mat-card-avatar class="star-wars-image">
      <img>
    </div>
    <div *ngIf="player.card">
      <mat-card-title>{{player.card.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="player.card.crew">{{player.card.crew}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="player.card.mass">{{player.card.mass}}</mat-card-subtitle>
    </div>
    <div *ngIf="!player.card">
      <mat-card-title>{{'Name'}}</mat-card-title>
      <mat-card-subtitle>{{'...'}}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-actions>
    Current score: <strong>{{player.score}}</strong>
  </mat-card-actions>
</mat-card>

